body {
  background: lightgray;
  color: white;
  font-size: 2em;
  text-align: center;
}

#div1 {
  position: relative;
  width: 300px;
  padding: 10px;
  margin: 0 auto;
  color: white;
  background: teal;
  font-size: 2rem;
  border: 10px solid white;
  border-radius: 10px;
}